.primary {
  color: var(--color-back-primary);
  background-color: #0b113c;
  border: none;
  border-radius: 1.2rem;
}

.primary:disabled {
  color: var(--color-back-primary);
  background-color: rgb(161 161 161);
  border: none;
  border-radius: 1.2rem;
}