.form {
  width: 70%;
  min-width: 25rem;
  max-width: 70rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

.btnAdd {
  padding: 0.5rem;
}

.btnCancel {
  padding: 0.5rem
}

.btnAddTask {
  width: fit-content;
  padding:  0.5rem;
}

.error__list {
  margin-inline: 10%;
  width: 90%;
}

.error {
  color: red;
}