.wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.form {
  width: 70%;
  min-width: 30rem;
  max-width: 70rem;
  display: grid;
  grid-template-columns: 1fr 4rem;
  column-gap: 0.5rem;
}
